body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.fg-primary {
    color: #e6eafb !important;
}

.fg-secondary {
    color: rgb(230, 234, 251) !important;
}

.bg-primary {
    background-color: #223754 !important;
}

.bg-secondary {
    background-color: #426eac !important;
}

.nav-link:hover {
    color: rgb(143, 160, 216) !important;
}

.link {
    color: rgb(46, 46, 46);
    text-decoration: none;
    transition: 0.3s ease-in-out color;
}

.link:hover {
    color:rgb(93, 80, 167);
    text-decoration: none;
}

footer a,
footer p {
    padding: 0 1em;
}

.content-wrapper {
    display: block;
    height: 100%;
    padding: 0;
}

.content {
    width: 100%;
    height: 100%;
}

.button-container {
    margin-top: 3em;
    text-align: center;
}

/* Sidebar */

.sidebar {
    width: 15em;
    border: 1px solid white;
    height: 100%;
}

.list-group-item {
    transition: 0.3s ease-in-out color, background-color;
    text-decoration: none;
    color: #e6eafb;
}

.sidebar-link {
    color: #e6eafb;
    background-color: transparent;
    border: none;
}

.sidebar-link:hover {
    background-color: #31445f;
    color:rgb(230, 234, 251);
}

.nav-link:hover,
.nav-link::before,
.nav-link::after {
    border: none;
    box-shadow: none;
    box-sizing: unset;
}